<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="keywords" th:content="${keywords}"/>
    <title>List of all books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h3>Books:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<a href="add.html" th:href="@{/add}">
    <button type="button">Add book</button>
</a>

<script>
    $(render());

    function render(){
        $.get('/api/books').done(function (books) {
            books.forEach(function (book) {
                $('tbody').append(`
                <tr>
                    <td>${book.id}</td>
                    <td>${book.title}</td>
                    <td>${book.author.name}</td>
                    <td>${book.genre.name}</td>
                    <td>
                        <a href="edit.html">Edit</a>
                        <a href=# onclick="deleteBook(${book.id})">Delete</a>
                     </td>
                </tr>`)
            });
        })

    }

    function deleteBook(bookId) {
        var xhttp = new XMLHttpRequest();
        xhttp.open("DELETE", "/api/books/delete/" + bookId, true)
        xhttp.send();
    }

</script>

</body>
</html>